*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(46, 46, 46);
   

}
body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
header ul{
    gap: 15px;
}
ul{
    display: flex ;
    justify-content: center;
    align-items: center;
    
    height: 14vh;
}
li{
    list-style: none;
}
main>section>div{
width: 80%;
}
main>section>img{
    width: 50%;
    height: 300px;
    border-radius: 20px;
}
body{
    min-height: 100vh;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer{
    background-color: rgb(46, 46, 46);
    
}
a:hover{
 color: #0d6efd;
}
a{
    text-decoration: none;
    color: white;
}
footer>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 113px;
    padding: 0;
        margin: 0;
}
.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;

}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form button:hover {
    background-color: #0056b3;
}